In [8]:
import pandas as pd
import json
import ydata_profiling

In [3]:
results_path = r'C:\Users\jjuua\Downloads\response_1694030057057.json'

with open(results_path, 'r') as json_file:
    data = json.load(json_file)

# Extract the "results" key from the parsed data
results_data = data["results"]

# Create an empty list to store individual records
records = []

# Iterate through the results and extract inputs and output
for result in results_data:
    for key, value in result.items():
        inputs = value.get("inputs", {})
        output = value.get("output", {})
        record = {**inputs, **output}
        records.append(record)

# Create a DataFrame from the list of records
df = pd.DataFrame(records)

# Print the DataFrame
df.head()

,Plasma Glucose,Blood Work Result-1,Blood Pressure,Blood Work Result-2,Blood Work Result-3,Body Mass Index,Blood Work Result-4,Age,Insurance,Predicted Label
0,1,109,38,18,120,23.1,0.407,26,1,Sepsis status is Negative
1,1,108,88,19,0,27.1,0.400,24,1,Sepsis status is Negative
2,6,96,0,0,0,23.7,0.190,28,1,Sepsis status is Negative
3,1,124,74,36,0,27.8,0.100,30,1,Sepsis status is Negative
4,7,150,78,29,126,35.2,0.692,54,0,Sepsis status is Positive

In [4]:
df.shape

(169, 10)

In [10]:
df['Predicted Label'] = df['Predicted Label'].str.replace('Sepsis status is ', '')
df = df.rename(columns={'Predicted Label': 'Sepsiss Pred'})
df.head()

,Plasma Glucose,Blood Work Result-1,Blood Pressure,Blood Work Result-2,Blood Work Result-3,Body Mass Index,Blood Work Result-4,Age,Insurance,Sepsis Pred
0,1,109,38,18,120,23.1,0.407,26,1,Negative
1,1,108,88,19,0,27.1,0.400,24,1,Negative
2,6,96,0,0,0,23.7,0.190,28,1,Negative
3,1,124,74,36,0,27.8,0.100,30,1,Negative
4,7,150,78,29,126,35.2,0.692,54,0,Positive

In [11]:
path_export = r'C:\Users\jjuua\VSCode\huawei_talleres\fastapi\DeployFastAPI\dev\notebooks\Profile_Sepssis_results.html'
profile = ydata_profiling.ProfileReport(df, title="Profiling Report - Sepsiss Results" , minimal=False)
profile.to_file(output_file=path_export)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Summarize dataset: 100%|██████████| 83/83 [00:08<00:00,  9.43it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.75s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.06it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 153.42it/s]